
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100%;
  background: #f3f2ef;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  /* grid-template-rows: repeat(5,1fr); */
  gap: 10x;
  grid-template-areas:
    "firstRow  firstRow  firstRow firstRow  firstRow  firstRow  firstRow"
    ". secondRow secondRow secondRow secondRow secondRow ."
    ". . thirdRow thirdRow thirdRow . ."
    ". fourthRow  fourthRow fourthRow fourthRow fourthRow  ."
    "fifthRow  fifthRow  fifthRow  fifthRow fifthRow   fifthRow  fifthRow "
    ;
}
a{
  text-decoration: none;
  color: #5f5f5f;
}


/* ======== nav ======== */

nav{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  z-index: 100;
}
/* -logo- */

nav .logo img{
  width: 70px;
}

/* - search box - */

nav .search-box{
  background:#f3f2ef;
  padding: 0 15px;
  width: 20%;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
nav .search-box i{
  color: #5f5f5f;
}
nav .search-box input{
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: none;
}

/* - nav center - */
nav .nav-center{
  width: 50%;
}
nav .nav-center ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-center ul li{
  list-style: none;
  display: inline-block;
}
nav .nav-center ul li a{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .nav-center ul li a:hover{
  color: #000;
}
nav .nav-center ul li a img{
  width: 30px;
}

/* - nav right - */

nav .nav-profile-img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
}

/* ====== nav-end-in-599px =========== */
.nav-end-in-599px{
  display: none;
}


@media screen and (max-width: 599px) {
  nav{
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 100;
}
/* -logo- */

nav .logo img{
    width: 70px;
}

/* - search box - */

nav .search-box{
    background:#f3f2ef;
    padding: 0 15px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
nav .search-box i{
    color: #5f5f5f;
}
nav .search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}

/* - nav center - */
nav .nav-center{
    display: none;
    width: 50%;
}
nav .nav-center ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-center ul li{
    list-style: none;
    display: inline-block;
}
nav .nav-center ul li a{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav .nav-center ul li a:hover{
    color: #000;
}
nav .nav-center ul li a img{
    width: 30px;
}


/* - nav right - */

nav .nav-profile-img{
    display:  none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}
/* ====== nav-end-in-599px =========== */
.nav-end-in-599px{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 7%;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.nav-end-in-599px ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-end-in-599px ul li{
    list-style: none;
    display: inline-block;
}
.nav-end-in-599px ul li a{
    font-size: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-end-in-599px ul li a:hover{
    color: #000;
}
.nav-end-in-599px ul li a img{
    width: 35px;
}
}
/* ================== */
.main div {

  text-align: center;

}
/* =======first==sales========== */
.firstRow {
  grid-area: firstRow;
  width: 100%;
  height: 100%;

}
.firstRow img {
    width: 100%;
    height: 97%;
}
/* =============================== */
/* =====second=====categories========== */
.secondRow {
  grid-area: secondRow;
  height: 20%;
  grid-row: auto;
  
}


.categories {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:0 5px 20px rgba(0, 1, 1, 0.1)


}


.categories a {
  display: inline-block;

  color: black;

  text-align: center;

  padding: 10px 12px;

  text-decoration: none;
  font-family: sans-serif;
  
}


.categories a:hover {
  background-color: rgb(41, 41, 85);
  color: white;

}


.categories a.active {
  background-color: rgb(125, 173, 201);

  color: white;

}
/* =============================== */
/* =======third===title of categories========== */
.thirdRow {
  grid-area: thirdRow;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100%;
  
}
.thirdRow h2 {
  padding: 1% 5%;
  border-radius: 10px;
  background:white;
  transition: 1s;
  box-shadow:0 5px 20px rgba(0, 1, 1, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.thirdRow :hover{

  transform: scale(1.08);
  }
  
/* =============================== */
/* ==========products========== */
.fourthRow {
  grid-area: fourthRow;
 
}
.fourthRow .row{
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  margin-top: 0px;
  box-shadow:0 0px 20px rgba(0, 1, 1, 0.1);
  border-radius: 15px;
}
@media(max-width:970px){
  .fourthRow .row {
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    margin-top: 0px;
    box-shadow:0 0px 20px rgba(0, 1, 1, 0.1);
    border-radius: 15px;
  }
}
   @media(min-width:0px ) and (max-width:500px ){
      .fourthRow .row {
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        margin-top: 0px;
        box-shadow:0 0px 20px rgba(0, 1, 1, 0.1);
        border-radius: 15px;
      }
      .main {
          width: 100%;
          height: 100vh;
          position: relative;
          display: grid;
          grid-template-columns: repeat(7,1fr);
          /* grid-template-rows: repeat(5,1fr); */
          gap: 10x;
          grid-template-areas:
            "firstRow  firstRow  firstRow firstRow  firstRow  firstRow  firstRow"
            " secondRow secondRow secondRow  secondRow secondRow secondRow secondRow  "
            " thirdRow thirdRow thirdRow thirdRow thirdRow thirdRow thirdRow"
            "fourthRow  fourthRow fourthRow fourthRow fourthRow fourthRow fourthRow"
            "fifthRow  fifthRow  fifthRow fifthRow  fifthRow  fifthRow fifthRow"
            ;
        }
}
.fourthRow .row .column{
  margin-bottom: 3px;
  transition: 0.5s;
  background-color: white;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px ;
  text-align: center;
  box-shadow:10px 0px 30px rgba(0, 1, 1, 0.1);
  border-radius: 15px;
  margin: 2px;
}
.fourthRow .row .column:hover{
  transform: scale(1.11)
}
.fourthRow .row .column img {

  width: 100%;
  height: 85%;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px;
}
.fourthRow .row .column h4 , p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* =============================== */
/* ==========footer========== */
.fifthrow{
  grid-area: fifthRow;
  width: 100%;

}
footer {
  background-color: #333;

  color: white;

  padding: 20px;

  text-align: center;
}

footer a {
  color: white;
  
  text-decoration: none;
 
  margin: 10px;
  
}


footer a:hover {
  color:rgb(125, 173, 201);
 
}


.f a {
  font-size: 30px;

}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD',
    'opsz' 24
}

footer p:hover {
  color: rgb(125, 173, 201);
}
