<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../style/aboutus.css">
</head>
<body>
  <div class="containers">
    <!-- /* ============ navbar ================= */ -->
    <nav>
      <img src="../image/logo.png" alt="Your Logo">
    </nav>
    <!-- /*========== content =================== */ -->
    <div class="content">
        <img src="../image/logo.png" alt="">
        <div class="header">
          <h1>About us</h1>
          <p>XGym is a social networking site for people concerned about their health</p>
        </div>
      <div class="vision">
        <h2>Our vision</h2>
        <p>Improving athletic performance by making the person track improvement and putting him in a competitive environment to extract the best form from him.</p>
      </div>
      <div class="mission">
        <h2>Our mission</h2>
        <p>The process of losing weight and tracking improvement for bodybuilders becomes easier by creating an application dedicated to them</p>
      </div>
    </div>
    <!-- /* ========== footer============  */ -->
    <div class="footer">
      <div class="footer-leftside">
          <img src="../image/logo.png" alt="">
      </div>
      <div class="footer-rightside">
          <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">contact us</a></li>
              <li><a href="#">Privacy and Terms</a></li>
          </ul>
      </div>
  </div>

  </div>
</body>
</html>
