<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="../style/porflie/porfile(min-600).css">
    <link rel="stylesheet" media="screen and (max-width: 599px)" href="../style/porflie/porfile(max-599).css">
    <title>xGym</title>
</head>
<body>
    <div class="containers">
        <!-- ========= nav ========== -->
        <nav>
            <a href="#" class="logo"><img src="../image/logo.png" alt="logo"></a>

            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>

            <div class="nav-center">
                <ul>
                    <li><a href="#"><img src="../image/profile-icon.gif" alt=""><span>profile</span></a></li>
                    <li><a href="store.html"><img src="../image/store-icon.png" alt=""><span>store</span></a></li>
                    <li><a href="#"><img src="../image/exercises.png" alt=""><span>exercises</span></a></li>
                    <li><a href="#"><img src="../image/setting.gif" alt=""><span>setting</span></a></li>
                </ul>
            </div>

            <div class="nav-right">
                <img src="../image/profile.jpeg" alt="" class="nav-profile-img">
            </div>

        </nav>

        <!-- ========= nav-end-in-599px ========== -->
        <div class="nav-end-in-599px">
            <ul>
                <li><a href="#"><img src="../image/profile-icon.gif" alt=""><span>profile</span></a></li>
                <li><a href="store.html"><img src="../image/store-icon.png" alt=""><span>store</span></a></li>
                <li><a href="#"><img src="../image/exercises.png" alt=""><span>exercises</span></a></li>
                <li><a href="#"><img src="../image/setting.gif" alt=""><span>setting</span></a></li>
            </ul>
        </div>
        <!-- ====== content ====== -->
        <div class="content">
            <!-- ========= left-side ======== -->
            <div class="left-side">
                <div class="first-container-left">
                    <div class="fc-left">
                        <img src="../image/profile.jpeg" alt="">
                    </div>

                    <div class="fc-right">
                        <div class="fc-right-name">
                            <p >Amr Nabih</p>
                            <img src="../image/verify.gif" alt="">
                        </div>
                        <div class="fc-right-rank">
                            <p>rank #1 on Egypt</p>
                            <img src="../image/egypt.png" alt="">
                        </div>
                        <div class="fc-right-track-points">
                            <p>355 day on Track</p>
                            <p>100 points</p>
                        </div>
                        <div class="fc-right-input">
                            <input class="follow" type="button" value="Follow">
                            <input class="sand-massage" type="button" value="Sand massage">
                        </div>
                    </div>
                </div>
                <div class="second-container-left">
                    <div class="sc-img">
                        <img src="../image/profile.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.02 PM.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.05 PM.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM (1).jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.08 PM.jpeg" alt="">
                        <img src="../image/profile.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.02 PM.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.05 PM.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM (1).jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM.jpeg" alt="">
                        <img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.08 PM.jpeg" alt="">
                    </div>
                </div>
            </div>
            <!-- ================ right-side ======== -->
            <div class="right-side">
                <div class="zero-container-right">
                    <div class="zero-left">
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.02 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #1</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.05 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #2</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM (1).jpeg" alt=""><p>amr nabih</p><h1>rank #3</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #4</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.08 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #5</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.02 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #6</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.05 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #7</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM (1).jpeg" alt=""><p>amr nabih</p><h1>rank #8</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.07 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #9</h1></div>
                        <div class="person"><img src="../image/wh/WhatsApp Image 2023-10-31 at 8.30.08 PM.jpeg" alt=""><p>amr nabih</p><h1>rank #10</h1></div>
                    </div>
                    <div class="zero right"></div>
                </div>
                <div class="first-container-right">
                    <img src="../image/body.jpeg" alt="">
                </div>
                <div class="second-container-right">
                    <img src="../image/BenchPress.webp" alt="">
                </div>
                <div class="third-container-right">
                    <input type="button" value="Print" onclick="window.print()">
                </div>
            </div>
        </div>
        <!-- ============== footer =============== -->
        <div class="footer">
            <div class="footer-leftside">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="footer-rightside">
                <ul>
                    <li><a href="aboutus.html">About us</a></li>
                    <li><a href="#">contact us</a></li>
                    <li><a href="#">Privacy and Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>