<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>XGYM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/store.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://db.onlinewebfonts.com/c/70f3e46b3bb904260d1b1a6e0f2edf08?family=HM+Sans+Regular"
        rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src='main.js'></script>
</head>

<body>
    <!-- ========= nav ========== -->
    <nav>
        <a href="#" class="logo"><img src="../image/store/logo.png" alt="logo"></a>

        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </div>

        <div class="nav-center">
            <ul>
                <li><a href="porfile.html"><img src="../image/store/profile-icon.gif" alt=""><span>profile</span></a></li>
                <li><a href="#"><img src="../image/store/store-icon.png" alt=""><span>store</span></a></li>
                <li><a href="#"><img src="../image/store/exercises.png" alt=""><span>exercises</span></a></li>
                <li><a href="#"><img src="../image/store/setting.gif" alt=""><span>setting</span></a></li>
            </ul>
        </div>

        <div class="nav-right">
            <img src="../image/store/profile.jpeg" alt="" class="nav-profile-img">
        </div>

    </nav>

    <!-- ========= nav-end-in-599px ========== -->
    <div class="nav-end-in-599px">
        <ul>
            <li><a href="porfile.html"><img src="../image/store/profile-icon.gif" alt=""><span>profile</span></a></li>
            <li><a href="#"><img src="../image/store/store-icon.png" alt=""><span>store</span></a></li>
            <li><a href="#"><img src="../image/store/exercises.png" alt=""><span>exercises</span></a></li>
            <li><a href="#"><img src="../image/store/setting.gif" alt=""><span>setting</span></a></li>
        </ul>
    </div>
    <br>
    <!---------- main --------->
    <div class="main">

        <!-- first row -->
        <div class="firstRow">
            <img src="../image/store/Screenshot 2023-11-01 162751.png" alt="">
        </div>
        <!-------------SECOND ROW CATEGORIES------------->
        <div class="secondRow">
            <div class="categories">
                <a href="#" class="active">MEN</a>
                <a href="#">WOMEN</a>
                <a href="#">KIDS</a>
                <a href="#"> ACCESSORIES</a>
                <a href="#"> X's MERSH</a>
                <a href="#"> SALES</a>
                <a href="#"> NEW COLLECTION</a>
            </div>
        </div>
        <!------------THIRD ROW TITLE--------------->
        <div class="thirdRow">
            <h2 class="font" id="titleOfcategory">MEN’S SPORTSWEAR CLOTHING </h2>
        </div>
        <!------------FOURTH ROW CATEGORIES--------------->
        <div class="fourthRow">

            <div class="row">
                <div class="column" id="firstOfRow">
                    <img src="../image/store/black-x-mint-leaf-contrast-tee-115200.webp"
                        alt="">
                    <h4 class="font">Black X Mint Leaf Contrast Tee</h4>

                    <p class="price">649 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/black-x-acid-lime-mishmash-t-shirt-973903.webp"
                        alt="">
                    <h4 class="font">Black x Acid Lime Mishmash T-Shirt</h4>
                    <p class="price">500 LE </p>


                </div>
                <div class="column">
                    <img src="../image/store/skydiver-lightsome-tank-tops-859653.webp"
                        alt="">
                    <h4 class="font">Skydiver Lightsome Tank Tops</h4>

                    <p class="price">549 LE</p>
                </div>
                <div class="column" id="lastOfRow">
                    <img src="../image/store/DSC_0636.webp" alt="">
                    <h4 class="font">White Sleeveless Yoga Tank Top</h4>

                    <p class="price">530 LE</p>
                </div>


            </div>
            <div class="row">
                <div class="column" id="firstOfRow">
                    <img src="../image/store/black-x-brook-green-training-t-shirt-266441.webp"
                        alt="">
                    <h4 class="font">Black x Brook Green Training T-Shirt</h4>

                    <p class="price">559 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/black-basic-raglan-tee-773965.webp"
                        alt="">
                    <h4 class="font">Black Training T-Shirt</h4>

                    <p class="price">399 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/black-contrast-tee-587297.webp"
                        alt="">
                    <h4 class="font">Black Contrast Tee</h4>

                    <p class="price">489 LE</p>
                </div>
                <div class="column" id="lastOfRow">
                    <img src="../image/store/gray-over-sized-split-tee-553857.webp"
                        alt="">
                    <h4 class="font">Gray Over-sized Split Tee</h4>

                    <p class="price">550 LE</p>
                </div>


            </div>
            <div class="row">
                <div class="column" id="firstOfRow">
                    <img src="../image/store/forget-me-not-lightsome-tank-tops-427276.webp"
                        alt="">
                    <h4 class="font">Forget Me Not Lightsome Tank Tops</h4>

                    <p class="price">430 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/acid-lime-lightsome-tank-tops-950985.webp"
                        alt="">
                    <h4 class="font">Acid Lime Lightsome Tank Tops</h4>

                    <p class="price">450 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/white-x-mock-orange-x-forget-me-not-contrast-tee-292219.webp"
                        alt="">
                    <h4 class="font">White X Mock orange X Forget me not Contrast Tee</h4>

                    <p class="price">250LE</p>
                </div>
                <div class="column" id="lastOfRow">
                    <img src="../image/store/black-racket-sports-tee-893652.webp"
                        alt="">
                    <h4 class="font">Black Racket Sports Tee</h4>

                    <p class="price">545 LE</p>
                </div>


            </div>
            <div class="row">
                <div class="column" id="firstOfRow">
                    <img src="../image/store/black-maverik-basic-short-603196_460x.webp"
                        alt="">
                    <h4 class="font">Black Maverik Basic Short</h4>

                    <p class="price">300 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/brock-green-maverik-short-642138.webp"
                        alt="">
                    <h4 class="font">Brock Green Maverik Short</h4>

                    <p class="price">330 LE</p>
                </div>
                <div class="column">
                    <img src="../image/store/white-maverik-basic-short-475860.jpg"
                        alt="">
                    <h4 class="font">White Maverik Basic Short</h4>

                    <p class="price">340 LE</p>
                </div>
                <div class="column" id="lastOfRow">
                    <img src="../image/store/forget-me-not-maverik-short-319779.webp"
                        alt="">
                    <h4 class="font">Forget Me Not Maverik Short</h4>

                    <p class="price">550 LE</p>
                </div>



            </div>

        </div>
        <br>
        <br>

        <div class="fifthrow">
            <footer>
                <!-- Add a link to your website -->
                <a class="material-symbols-outlined" id="dumble">exercise</a>
                <!-- Add some icons with links to your social media pages -->
                <a href="https://www.instagram.com/example" class="fa fa-instagram"></a>
                <a href="https://www.facebook.com/example" class="fa fa-facebook"></a>
                <!-- Add some other signs, such as a trademark or a copyright -->
                <p>&trade;   All rights reserved.</p>
                <p >&copy; 2023 XGYM. Inc.</p>
              </footer>
        </div>
        
           
       
    </div>
   

</body>

</html>